/* variáveis em css */
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

/* resetar estilos do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos gerais da página */
body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* alinhamento de container com flexbox */
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* estilizando a logo */
header .logo{
    color: var(--vermelho);
    font-size: 40px;
    margin-left: 7px;
}

.link-logo{
    text-decoration: none;
}

/* estilizando o menu de navegação */
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
/* animando o menu de navegação */
header nav a:hover{
    color: #fff;
}

/* estilizando a capa - Filme principal */
.filme-principal{

    /* imagem de fundo*/
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa-vikings.jpg');
    background-size: cover;

    /* tamanho alinhamento e disposição dos itens */
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal p{
    font-size: 16px;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 10%;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

/* estilizando os botões */
.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    /* animações dos botões*/
    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

/* font awesome */
.botao i{
    margin-right: 7px;
}


/* alinhando as classes conteiners */
.container{
    margin-left: 20px;
    margin-right: 10px;
}

.filme-principal .container{
    width: 70%;
}

/* estilizando imagens do carrosel */
.box-filmes{
    height: 100%;
    width: 100%;
    display: block;
}


.carrosel-filmes{
    margin-top: 10px;
}