.nav-box form {
    display: flex;
}

form {
    background-color: #fff;
    border-radius: 10px;
    border:1px solid #000;
}

.nav-box form input {
    padding: 0.2rem 0.8rem;
    outline: 0;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    color: #000;
}
.nav-box form button {
    background-color: transparent;
    border: none;
    padding: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-box form button svg {
    fill: #808080;
    transition: .4s;
}
.nav-box form button svg:hover {
    fill: #dd0e15;
}