/*
.container {
    margin-top: 4rem;
}
*/

:root {
    --swiper-navigation-size-cover: 2.5rem;
    --swiper-navigation-size-carousel: 2rem;
    --swiper-theme-color: white !important;
}

.container-cover {
    /* display: flex; */
    /*margin-bottom: 2rem;*/
}

.container-movie {
    /* display: flex;
    align-content: center;
    margin: 0 1rem;
    flex-direction: column; */
}

.container-movie-genre {
    /* display: flex; */
    /*gap: 1.4rem;*/
}

.container-genres {
    margin-top: 2rem;
}

.container-genres h2{
    margin-bottom: 0.5rem;
}

.container-cover .swiper-button-prev,
.container-cover .swiper-button-next {
    background-color: rgb(0, 0, 0, 0.4);
    padding: 2.8rem 1.5rem;
    
}

.container-cover .swiper-button-prev::after,
.container-cover .swiper-button-next::after {
    font-size: var(--swiper-navigation-size-cover) !important;
}

.container-movie-genre .swiper-button-prev::after,
.container-movie-genre .swiper-button-next::after {
    font-size: var(--swiper-navigation-size-carousel) !important;
}

.container-movie-genre .swiper-button-prev,
.container-movie-genre .swiper-button-next {
    background-color: rgb(0, 0, 0, 0.4);
    padding: 2.5rem 1.3rem;
    
}

.swiper-button-prev,
.swiper-button-next{
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: red !important;
    background-color: rgba(255, 255, 255, 0.3)
}



@media screen and (min-width: 320px) {

    .container {
        margin-top: 2.7rem;
    }
    
    .card-movie img {
        width: 45%;
    }

    .container-genres {
        margin-top: 1rem;
    }

    .container-movie {
        margin: 0 0.6rem;
    }

    .container-movie h2 {
        font-size: 1em;
    }

}

@media screen and (min-width: 360px) {
    .card-movie img {
        width: 50%;
    }
}

@media screen and (min-width: 390px) {
    .container-movie {
        margin: 0 1rem;
    }
}

@media screen and (min-width: 412px) {
    .card-movie img {
        width: 55%;
    }

    .container-movie h2 {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 420px) {
    .card-movie img {
        width: 56%;
    }
}

@media screen and (min-width: 460px) {
    .card-movie img {
        width: 60%;
    }
}

@media screen and (min-width: 500px) {
    .card-movie img {
        width: 65%;
    }

    .container {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 560px) {
    .card-movie img {
        width: 68%;
    }
}

@media screen and (min-width: 620px) {
    .card-movie img {
        width: 68%;
    }
}

@media screen and (min-width: 699px) {
    .card-movie img {
        width: 70%;
    }
}

@media screen and (min-width: 779px) {
    .card-movie img {
        width: 75%;
    }
}

@media screen and (min-width: 970px) {
    .card-movie img {
        width: 80%;
    }
}

@media screen and (max-width: 999px) {
    .swiper-button-prev {
        display: none !important;
    }
    .swiper-button-next {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        margin-top: 0rem;
    }

    .container-cover .swiper-button-prev, 
    .container-cover .swiper-button-next {
        top: 42%;
    }

    .container-movie-genre .swiper-button-prev, 
    .container-movie-genre .swiper-button-next {
        top: 42%;
    }

    .container-movie-genre .swiper-button-prev {
        left: 0.3rem;
    }
    .container-movie-genre .swiper-button-next {
        right: 0.3rem;
    }
}


@media screen and (min-width: 1060px) {
    .card-movie img {
        width: 83%;
    }
}

@media screen and (min-width: 1100px) {
    .card-movie img {
        width: 85%;
    }
}

@media screen and (min-width: 1450px) {
    .card-movie img {
        width: 90%;
    }
}

@media screen and (min-width: 1690px) {
    .card-movie img {
        width: 95%;
    }
}