.container {
    margin-top: 5rem;
}

.container-cover {
    display: flex;
    margin-bottom: 2rem;
}

.container-movie {
    display: flex;
    align-content: center;
    margin: 0 1rem;
    flex-direction: column;
}

.container-movie-genre {
    display: flex;
    gap: 1.4rem;
}

.container-genres {
    margin-bottom: 2.5rem;
}

.container-genres h2{
    margin-bottom: 0.5rem;
}



