* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-color: #181818;
    padding: 2rem;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}