.card-movie {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 12rem;
    height: auto;
    cursor: pointer;
}

.card-movie img {
    max-width: 12rem;
    border-radius: 8px;
}

.card-movie h2 {
    display: none;
}