/* formatação - disposição dos elementos na tela até 700px */
@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}


/* formatação da descrição do filme em destaque em diversas telas */
@media screen and (min-width: 850px){
    .descricao{
        width: 80%;
    }
}

@media screen and (min-width: 970px){
    .descricao{
        width: 70%;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 60%;
    }
}